<div class="sidebar" id="sidebar">
    <div class="brand">
        <i class="bi bi-bag"></i>
        <span>SmartCart Admin</span>
    </div>


    <ul class="menu">
        <li><a href='/admin-dashboard'><i class="bi bi-speedometer2"></i> Dashboard</a></li>
        <li><a href="/admin/add-item"><i class="bi bi-plus-circle"></i> Add Product</a></li>
        <li><a href="/admin/item-list"><i class="bi bi-box-seam"></i> Products</a></li>
        <li><a href="/admin/profile"><i class="bi bi-person"></i> Profile</a></li>
        <li><a href="/admin-logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
    </ul>
</div>