{% extends 'user/base.html' %}
{% block content %}

<h3 class="mb-4">Your Shopping Cart</h3>

{% if not items %}


<div class="alert alert-info">
    Your cart is empty.
</div>

<a href="/dashboard" class="btn btn-primary">Go Shopping</a>

{% else %}

<table class="table table-bordered cart-table">
    <thead class="table-dark">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Remove</th>
        </tr>
    </thead>

    <tbody>

    {% for item in items %}
    <tr>

        <td>
            <img src="{{ url_for('static', filename='uploads/product_images/' + item.image) }}">
            {{ item.name }}
        </td>

        <td>₹{{ item.price }}</td>

        <td>
            <a href="{{ url_for('decrease', product_id=item.product_id) }}" class="qty-btn">-</a>
            <span class="mx-2">{{ item.quantity }}</span>
            <a href="{{ url_for('increase', product_id=item.product_id) }}" class="qty-btn">+</a>
        </td>

        <td>₹{{ item.subtotal }}</td>

        <td>
            <a href="{{ url_for('remove', product_id=item.product_id) }}" class="btn btn-danger btn-sm">
                Remove
            </a>
        </td>

    </tr>
    {% endfor %}

    </tbody>
</table>

<div class="text-end mt-3">
    <h4>Total: ₹{{ total }}</h4>
</div>

<a href="/dashboard" class="btn btn-secondary">Continue Shopping</a>
<a href="/checkout" class="btn btn-success float-end">Proceed to Checkout</a>

{% endif %}

{% endblock %}
