{% extends 'user/auth_base.html' %}
{% block content %}
    

<div class="auth-page">

    <div class="auth-card">

        <h3 class="text-center mb-4">User Login</h3>

        <form method="POST">

            <div class="mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <button class="btn btn-primary w-100">Login</button>

        </form>

        <div class="text-center mt-3">
            New User? <a href="/register">Register</a><br>
            Forgot Password? <a href="/forgot-password">Click</a>
        </div>

    </div>

</div>


{% endblock %}
