{% extends 'user/base.html' %}
{% block content %}

<div class="text-center mt-5">

<div class="card p-5 shadow-sm">

<h2 class="text-success">🎉 Order Placed Successfully!</h2>

<p class="mt-3">Your order has been confirmed.</p>
<h5>Order ID: #{{ order_id }}</h5>

<div class="mt-4">

<a href="/invoice/{{ order_id }}" class="btn btn-success">
Download Invoice
</a>

<a href="/my-orders" class="btn btn-outline-primary ms-2">
My Orders
</a>

<a href="/dashboard" class="btn btn-outline-secondary ms-2">
Continue Shopping
</a>

</div>

</div>
</div>

{% endblock %}
